.preload-conteiner {
    position: absolute;
    background: #6f6f94;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.preload {
    overflow: hidden;
    padding-bottom: 10%;
    min-width: 80%;
    color: #333351;
    font-family: 'Source Sans Pro', cursive;
    font-size: 8rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media screen and (max-width: 993px) {
    .preload {
        font-size: 6rem;
    }
}

@media screen and (max-width: 577px) {
    .preload {
        font-size: 4rem;
    }
}

@media screen and (max-width: 321px) {
    .preload {
        font-size: 2.5rem;
    }
}

.preload-content {
    margin-right: 15%;
    position: relative;
    display: inline-block;
}

.preload-content span {
    color: #6f6f94;
}

.preload-text div {
    margin: 0;
    padding: 0;
}

.preload-logo {
    position: absolute;
    background: #f35b74;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    top: 75%;
    left: 100%;
    margin: auto;
    /*      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);*/
    animation: logo 1s infinite;
    animation-delay: 2s;
}

@media screen and (max-width: 993px) {
    .preload-logo {
        height: 3.5rem;
        width: 3.5rem;
    }
}

@media screen and (max-width: 577px) {
    .preload-logo {
        height: 2.5rem;
        width: 2.5rem;
    }
}

@media screen and (max-width: 321px) {
    .preload-logo {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.preload-line {
    animation: preload-line 2s linear;
    background: #f35b74;
    border-radius: 0.25rem;
    height: 0.5rem;
    width: 110%;
}

@media screen and (max-width: 993px) {
    .preload-line {
        height: 0.4rem;
    }
}

@media screen and (max-width: 577px) {
    .preload-line {
        height: 0.3rem;
    }
}

@media screen and (max-width: 321px) {
    .preload-line {
        height: 0.2rem;
    }
}

.preload-logo img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.fit {
    position: relative;
}

.fit:before {
    content: 'Fit';
    animation: fit 1s linear;
    color: #f35b74;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes fit {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes preload-line {
    from {
        transform: translateX(-180vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes logo {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}