.preload-conteiner {
    position: absolute;
    background: #6f6f94;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.preload {
    overflow: hidden;
    padding-bottom: 10%;
    width: 80%;
    color: #333351;
    font-family: 'Berkshire Swash', cursive;
    font-size: 8rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.preload-content{
    margin-right: 15%;
    position: relative;
    display: inline-block;
}

.preload-content span{
    color: #6f6f94;
}

.preload-text div {
    margin: 0;
    padding: 0;
}

.preload-logo {
    position: absolute;
    background: #f35b74;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    top: 95%;
    left: 110%;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: logo 10s infinite ease-in-out;
}

.preload-line {
    animation: preload-line 2s linear ;
    background: #f35b74;
    border-radius: 0.25rem;
    height: 0.5rem;
    width: 110%;
/*    visibility: hidden;*/
}

.preload-logo img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.fit{
    position: relative;
}
.fit div{
    animation: fit 1s linear ;
    color: #f35b74;
    position: absolute;
    left: 0;
    top:0;
}

@keyframes fit {
    0% {top:-100%;}
    25% {top:25%;}
    38% {top:0%;}
    50% {top:-20%;}
    66% {top:-10%;}
    71% {top:0%;}
    90% {top:-10%;}
    100% {top:0%;}
}


@keyframes preload-line {
    0% {width:0%;}
    50% {width:0%;}
    60% {width:20%;}
    75% {width:50%;}
    90% {width:100%;}
    100% {width:115%;}

}

@keyframes logo {
    0% {width:0;height: 0;}
    20% {width:0;height: 0;}
    21% {width:2rem;height: 2rem;}
    30% {width:6rem;height: 6rem;}
    40% {width:4rem;height: 4rem;}
    50% {width:6rem;height: 6rem;}
    60% {width:4rem;height: 4rem;}
    70% {width:6rem;height: 6rem;}
    80% {width:4rem;height: 4rem;}
    90% {width:6rem;height: 6rem;}
    100% {width:4rem;height: 4rem;}


}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
        transform: scale(1.0);
    }
}